<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Página de Prueba: Imagenes | Videos </h1>
    <p class="lead">Esta página contiene 9 Imagenes sin atributo alt y 3 videos Sin atributo track.</p>
    <a class="btn btn-primary btn-lg" href="/new" role="button">Sin probelmas de accesibilidad</a>
  </div>
</div>