    {{> header}}

    {{> navbar}}

    <div class="row">
        <div class="col-md-4">
            <h1>Diego Chicaiza - about</h1>
        </div>

        <div class="col-md-8">
            <img src="assest/img/taza.jpg" alt="Taza">
        </div>

    </div>

    {{> footer}}