    {{> header}}

    {{> titulo}}
        <div class="container-fluid">
          <div class="row">
            <div class="col">
              <img class="img-fluid" src="https://static.guiaongs.org/wp-content/uploads/2017/04/ABANDONO-MASCOTAS-SEMANA-SANTA.jpg" alt="">
            </div>
            <div class="col">
              <img class="img-fluid" src="https://lamenteesmaravillosa.com/wp-content/uploads/2015/08/shutterstock_254849722.jpg" alt="">
            </div>
            <div class="col">
              <img class="img-fluid" src="http://www.ohmep.com/wp-content/uploads/2016/08/firma-contrato-1.jpg" alt="">
            </div>
          </div>
        
        <div class="row">
            <div class="col">
              <img class="img-fluid" src="http://www.consejodiscapacidades.gob.ec/wp-content/uploads/2014/01/electoral2.jpg" alt="">
            </div>
            <div class="col">
              <img class="img-fluid" src="https://image.isu.pub/140704125741-424bd3836f909ae966ed155aaed16f88/jpg/page_1.jpg" alt="">
            </div>
            <div class="col">
              <img class="img-fluid" src="https://www.alianzapais.com.ec/wp-content/uploads/2016/04/cats-9.jpg" alt="">
            </div>
          </div>

          <div class="row">
            <div class="col">
              <img class="img-fluid" src="http://www.elcomercio.com/files/article_main/uploads/2017/04/18/58f6c6a59043f.jpeg" alt="">
            </div>
            <div class="col">
              <img class="img-fluid" src="http://www.juiciocrudo.com/pics/829x465/02ecbe0d01e2abd78c38b2d15baca417abcd1809.jpg" alt="">
            </div>
            <div class="col">
              <img class="img-fluid" src="http://elproductor.com/wp-content/uploads/2014/09/3-6B-2col.jpg" alt="">
            </div>
          </div>

          <div class="row">
            <div class="col">
              <video controls class="img-fluid" src="assest/videos/video1.mp4"></video>
            </div>
            <div class="col">
              <video controls class="img-fluid" src="assest/videos/video2.mp4"></video>
            </div>
            <div class="col">
              <video controls class="img-fluid" src="assest/videos/video3.mp4"></video>
            </div>
          </div>
        </div>  


    {{> footer}}